@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$roboto: 'Roboto Mono', monospace;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
$inter: 'Inter', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
$dancing-script: 'Dancing Script', cursive;

html, body {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
}

.font-2 {
    font-family: $inter;
    font-weight: 600;
}

.font-3 {
    font-family: $dancing-script;
    font-weight: 400;
}